<h1>Index</h1>

<hr>

<h2><%= admindata.username %> </h2>
<h3><%= admindata.type %> </h2>
<p class="lead"><%= admindata.email %> </p>
<p><%= admindata.createdAt %> </p>
<p><%= admindata.updatedAt %> </p>